{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}
    <h1>Tags index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tag</th>
                <th>Postid</th>
                <th>Created</th>
                <th>Updated</th>
                <th>IsPublic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.tag }}</td>
                <td>{{ tag.postid }}</td>
                <td>{{ tag.created }}</td>
                <td>{{ tag.updated ? tag.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tag.IsPublic ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tags_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('tags_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tags_new') }}">Create new</a>
{% endblock %}
