{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1>Tags</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ tag.tag }}</td>
            </tr>
            <tr>
                <th>Postid</th>
                <td>{{ tag.postid }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ tag.created }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ tag.updated ? tag.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ tag.IsPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tags_index') }}">back to list</a>

    <a href="{{ path('tags_edit', {'id': tag.id}) }}">edit</a>

    {{ include('tags/_delete_form.html.twig') }}
{% endblock %}
