{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/blog.css') }}" />
{% endblock %}

{% block title %}Welcome About!{% endblock %}

{% block body %}
    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-home.html.twig') }}

      {{ include('_block-apis.html.twig') }}
      
    </div>
    
    {# SECTION --main-content #}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Here the About
          </h3>
        </div>

        
        {{ include('_aside.html.twig') }}
        
      </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}
    
{% endblock %}