{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ category.category }}</td>
            </tr>
            <tr>
                <th>Postid</th>
                <td>{{ category.postid }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ category.updated ? category.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ category.created }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ category.IsPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
