{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/blog.css') }}" />
	<link rel="stylesheet" href="{{ asset('build/general.css') }}" />
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-home.html.twig') }}

      {{ include('_block-apis.html.twig') }}
      
    </div>
    
    {# SECTION --main-content #}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Latest Posts
          </h3>
        
        {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.updated ? post.updated|date('Y-m-d H:i:s') : '' }}</p>
            <div><p>{{ post.post }}</p></div>
          </div>
          <div>{{ post.category }}
            <a href="{{ path('category_show', {'category': post.category}) }}">see the post</a>
          </div>
          <div><a href="{{ path('post_show', {'id': post.id}) }}">see the post</a></div><!-- /.blog-post -->
        {% else %}
            <div>
                <p colspan="12">no records found</p>
            </div>
        {% endfor %}

        </div><!-- /.blog-main -->

        {{ include('_aside.html.twig') }}
        
      </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}
