    {% block body %}
      <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Categories</h4>
            <ol class="list-unstyled mb-0">
            {% for category in categories %}
                <li><a href="#">{{ category.category }}</a></li>
            {% else %}
                <div>
                    <p colspan="12">no records found</p>
                </div>
            {% endfor %}
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Tags</h4>
            <ol class="list-unstyled mb-0">
            {% for tag in tags %}
                <li><a href="#">{{ tag.tag }}</a></li>
            {% else %}
                <div>
                    <p colspan="12">no records found</p>
                </div>
            {% endfor %}
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->
    {% endblock %}