    {% block body %}
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/public/index.php">Home</a>
          <a class="p-2 text-muted" href="/public/index.php/services">Services</a>
          <a class="p-2 text-muted" href="/public/index.php/projects">Projects</a>
          <a class="p-2 text-muted" href="/public/index.php/blog">Blog</a>
          <a class="p-2 text-muted" href="/public/index.php/about">About</a>
          <a class="p-2 text-muted" href="/public/index.php/contact">Contact</a>
        </nav>
      </div>
    {% endblock %}