{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.author }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ post.post }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ post.tags }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ post.comments }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ post.createdAt }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ post.updated ? post.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ post.category }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ post.IsPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
