{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Comment</th>
                <th>Postid</th>
                <th>Created</th>
                <th>Updated</th>
                <th>IsPublic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.username }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.postid }}</td>
                <td>{{ comment.created }}</td>
                <td>{{ comment.updated ? comment.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.IsPublic ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('comments_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comments_new') }}">Create new</a>
{% endblock %}
