{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <h1>Comments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ comment.username }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ comment.comment }}</td>
            </tr>
            <tr>
                <th>Postid</th>
                <td>{{ comment.postid }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ comment.created }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ comment.updated ? comment.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ comment.IsPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comments_index') }}">back to list</a>

    <a href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
